# Ignore dotnet publish output
/publish_client/
/publish/

# Ignore build and obj folders
**/bin/
**/obj/

# Visual Studio files
*.user
*.suo
*.pdb

# NuGet
*.nupkg
project.lock.json

# VS Code
.vscode/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
~$*
