@page "/map"
@using WorldConquestGame.Client.Pages
@inject IJSRuntime JS
@inject WorldConquestGame.Client.Services.GameService GameService

<div class="map-page">
    <h3>World Map</h3>
    <div id="map" class="map"></div>

    <!-- Render QuestionPanel locally on the map page for visibility -->
    <QuestionPanel />
</div>

@code {
    private DotNetObjectReference<Map>? objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("mapInterop.initMap", "map", "data/countries.geojson", objRef);
        }
    }

    [JSInvokable]
    public Task OnCountryClicked(string id)
    {
    // id will be code or name from GeoJSON properties
    Console.WriteLine($"Map.OnCountryClicked called with id={id}");
    GameService.RaiseCountryClicked(id);
    return Task.CompletedTask;
    }

    public void Dispose()
    {
        objRef?.Dispose();
    }
}
