@inherits LayoutComponentBase
@using WorldConquestGame.Client.Pages

<div class="main-layout">
    <header>
        <h1>World Conquest</h1>
    </header>
    <main>
        @Body
        <div class="overlay-panels">
            <QuestionPanel />
        </div>
    </main>
</div>
