<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/shape-game">Country Shape Game</a></li>
        <li><a href="/uk-counties">UK Counties Map</a></li>
    </ul>
</nav>
