@* Full-screen splash that centers a big image *@
<div class="splash-root">
    <div class="splash-center">
        <img src="/WorldConquest.png" alt="World Conquest" class="splash-image" />
    </div>
</div>
